.card {
  margin-top: 50px;
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 40px;
  }
  &__wrapper {
    display: flex;
    gap: 30px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      height: 0;
    }
  }
  &__card {
    min-width: 350px;
  }
  &__head {
    position: relative;
    img {
      border-radius: 50%;
    }
    span {
      position: absolute;
      top: 40px;
      left: 10px;
      width: 50px;
      height: 50px;
      background: black;
      display: grid;
      place-items: center;
      border-radius: 50%;
      color: white;
      border: 3px solid #ffffff;
    }
  }
  &__body {
    p {
      &:nth-child(1) {
        margin-top: 20px;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
      }
      &:nth-child(2) {
        color: #777;
        text-align: center;
      }
      &:last-child {
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 990px) {
  .card {
    &__card {
      min-width: 320px;
    }
    &__head {
      span {
        top: 20px;
        left: 20px;
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 768px) {
  .card {
    &__card {
      min-width: 250px;
    }
    &__head {
      span {
        top: 13px;
        left: 13px;
        width: 50px;
        height: 50px;
      }
    }
    &__body {
      p {
        &:nth-child(1) {
          margin-top: 17px;
          font-size: 18px;
          margin-bottom: 20px;
        }
        &:nth-child(2) {
        }
        &:last-child {
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .card {
    &__card {
      min-width: 200px;
    }
    &__head {
      span {
        top: 9px;
        left: 9px;
        width: 40px;
        height: 40px;
        font-size: 14px;
      }
    }
    &__body {
      p {
        &:nth-child(1) {
          margin-top: 16px;
          font-size: 16px;
          margin-bottom: 18px;
        }
        &:nth-child(2) {
          font-size: 14px;
        }
        &:last-child {
          font-size: 15px;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .card {
    &__card {
      min-width: 160px;
    }
    &__head {
      span {
        top: 5px;
        left: 5px;
        width: 35px;
        height: 35px;
        font-size: 12px;
      }
    }
    &__body {
      p {
        &:nth-child(1) {
          margin-top: 14px;
          font-size: 15px;
          margin-bottom: 14px;
        }
        &:nth-child(2) {
          font-size: 13px;
        }
        &:last-child {
          font-size: 14px;
        }
      }
    }
  }
}
